body{
    margin: 0;
    font-family: 'Merriweather', serif,sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: rgb(78, 245, 247);
    color:#1790db;
    justify-content: center;
    grid-gap: .5em;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 4px; 
}

input{
    display: inline-block;
    height: 60px;
    width: 150px;
    background:white;
    color: black;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
}

button{
    width: 5opx;
    height: 50px;
    background:white;
    color: green;
    font-size: 26px;
    font-family: 'Merriweather', serif;
    border-radius: 8px;
    box-shadow: 2px 4px 5px #444;
   
}
h1{
    font-size:40px;
}

h2{
    font-size: medium;
}

textarea {

    font-family: 'Merriweather', serif;
}
.myinput{
    background:white;
    color: black;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #a4a4a4; 
    font-family: 'Merriweather', serif;
    font-size: small;
    text-align: center;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #a4a4a4; 
    font-family: 'Merriweather', serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #a4a4a4; 
    font-family: 'Merriweather', serif;

} 